.Card {
    --secondary-blue: rgba(103, 131, 221, .7);
    background-color: var(--secondary-blue);
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Card p {
    font-size: 20px;
}