.row-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.WeatherButton {
  margin-top: 60px;
}

.secondary-umbrella-logo {
  height: 300px;
  margin: auto;
}

.btn-container img {
  display: block;
  width: 100%;
  max-width: 300px; /*actual image width*/
  height: auto; /* maintain aspect ratio*/
  margin: auto;
}
